
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-section {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
}


.tela-login {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
    color:rgb(241, 241, 54);
    z-index: 1;
}

.tela-login input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

.tela-login button {
    background-color: rgb(3, 5, 7);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    color: rgb(218, 233, 14);
    font-size: 15px;   
    cursor: pointer;
}

.tela-login button:hover {
    background-color: rgb(20, 19, 5);
}


h2 {
    color:   #9caf48;
}

fieldset {
   
    border: 5px solid #7ca5f1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; }